[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
telethon = "*"
pysocks = "*"
pre-commit = "*"
motor = "*"
html2text = "*"
editdistance = "*"
httpx = "*"

[requires]
python_version = "3.7"
